@use './partials/variables' as *;
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/@fortawesome/fontawesome-free/css/all.min.css';


body {

    //background-image: url('/screenshot.png');
    background-repeat: no-repeat;
    height: 10062px;
}

img {
    width: 100%;
}

.col-ecstasy {
    color: $ecstasy;
}

.col-magic-mint {
    color: $macigMint;
}

.bg-lima {
    background: $lima;
}

.bg-golden-dream {
    background-color: $goldenDream;
}

.bg-cerulean-blue {
    background: $ceruleanBlue;
}

h2 {
    font-size: 45px;
}