@use './_variables.scss' as *;

.sc-button {
    background-color: lighten($ecstasy , 37%);
    border: 0px;
    padding: 0 40px;
    height: 55px;
    color: $ecstasy;
    font-size: 1.2rem;
    border-radius: 10px;

    &:hover {
        background-color: $ecstasy;
        color: white;
    }
}