@use './_variables.scss' as *;

.sc-button {
    display: inline-block;
    background-color: lighten($primary , 37%);
    border: 0px;
    padding: 0 40px;
    height: 55px;
    color: $primary;
    font-size: 1.2rem;
    border-radius: 10px;
    text-decoration: none;
    line-height: 55px;
    transition: all .5s;

    &:hover {
        background-color: $primary;
        color: white;
    }

    &.full {
        color: white;
        background-color: $primary;

    }

    &.full:hover {
        background-color: $tango;
    }
}